<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="author" content="{{ site.author }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ site.url }}/{{ site.img }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:description" content="{{ page.description }}">

    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="/lib/semantic/css/semantic.no-resp.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" />
    <link rel="stylesheet" href="/css/base.css" />
<!-- Header    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-52357817-1', 'auto');
        ga('send', 'pageview');
    </script> -->
</head>

<body>

    <div class="ui fixed transparent inverted teal main menu">
        <div class="menu">
            <div class="right menu">
                <a href="{{ site.repo }}" class="item">
                    Bidra
                </a>
            </div>

            <a href="/" class="item">
                <i class="home icon"></i>
                Hem
            </a>

            <a href="https://twitter.com/MangfaldsData" class="item">@MangfaldsData</a>

        </div>
    </div>

    <div class="main container">
        <div class="ui grid">
            <div class="column">

                <div class="banner ui icon header">
                    <img src="img/logo.png" />
                    <h2 class="main-title">Öppna Mångfaldsdata</h2>
                    <div class="sub header">Människor migrerar över hela världen. En mångfald av människor finner en framtid i Sverige. 
</br>
Men hur bra är organisationer i Sverige på att inkludera mångfalden av människor? 
</br>
</br>
Företag och andra organisationer samlar redan demografiska uppgifter och data om sina styrelser och anställda. Låt oss be dem att publicera den. 
Öppna mångfaldsdata gör det lättare för att förstå landskapet av mångfald.
</br>
</br>
                    </div>
                    <div class="sub header submit-new-company">
                        Ser du inte ett företag som du är intresserad av? Skriv in det genom att <a href="https://github.com/okfse/oppnamangfaldsdata">skicka in en hämtnings-begäran (pull request) eller fråga</a>, eller e-posta mangfaldsdata [at] okfn [punkt] se.
                    </div>
                </div>

                {{ content }}


            </div><!-- Column -->
        </div><!-- UI Grid -->
    </div><!-- Main Container -->
  <div class="ui divider"></div>

<div class="main container">
        <div class="ui grid">
            <div class="column">

	<h3 class="sub-title" align="center">Om Öppna Mångfaldsdata</a></h3>
	<div class="footer ui basic segment">
Öppna Mångfaldsdata definierar vi genom inspiration av <a href="http://www.riksdagen.se/sv/Dokument-Lagar/Lagar/Svenskforfattningssamling/Diskrimineringslag-2008567_sfs-2008-567/">Diskrimineringslagen (2008:567)</a> som inkluderar följande typ av diskriminering: <i>kön, könsöverskridande identitet eller uttryck, funktionshinder, sexuell läggning och ålder</i>. Definitionen exkluderar <i>etnisk tillhörighet, nationellt ursprung, religion och andra trosuppfattningar, graviditet och politiska åsikter</i>.
Detta är baserat på Datainspektionens information om <a href="http://www.datainspektionen.se/lagar-och-regler/personuppgiftslagen/arbetslivet/#kansliga">känsliga uppgifter</a> kopplat till personuppgiftslagen i arbetslivet.</i> och tillgängliggörandet av dessa typer av data ska ske med arbetstagarens <a href="http://www.datainspektionen.se/lagar-och-regler/personuppgiftslagen/samtycke/">samtycke</a>.

    <div class="ui divider"></div>

    </div><!-- Column -->
        </div><!-- UI Grid -->
    </div><!-- Main Container -->

	<h3 class="sub-title" align="center">Varför <a href="https://en.wikipedia.org/wiki/Diversity_%28business%29">mångfald i organisationer</a>?</h3>
	<div class="footer ui basic segment">
        Forskning inom organisationskultur och ledarskap visar på hur viktigt mångfald är för hållbara och framgångsrika organisationer. Mer om detta går att läsa i flera relevanta rapporter och forskning kring mångfald i organisationer, bland annat vid: <a href="http://www.mckinsey.com/insights/organization/why_diversity_matters">McKinsey</a>, <a href="http://www.forbes.com/sites/glennllopis/2011/06/13/diversity-management-is-the-key-to-growth-make-it-authentic/">Forbes</a>, <a href="http://insights.som.yale.edu/insights/what-do-leaders-need-understand-about-diversity">Yale</a>, <a href="http://www.scientificamerican.com/article/how-diversity-makes-us-smarter/">Scientific American</a>, <a href="http://performance.ey.com/2011/11/15/different-is-good-how-diversity-can-benefit-your-organization/">EY</a> och <a href="http://www.salon.com/2005/04/21/florida_32/">i Richard Floridas bok "The Flight of the Creative Class" (via Salon.com)</a>.
    </div><!-- Column -->
        </div><!-- UI Grid -->
    </div><!-- Main Container -->

 <div class="ui divider"></div>

    <div class="footer ui basic segment">
        Har du en fråga, vill rapportera ett problem eller vill bidra till den här webbplatsen? Förgrena (Forka) den eller skapa en fråga på
        <a href="https://github.com/okfse/oppnamangfaldsdata">GitHub</a>. Vill du hjälpa till med projektet kan du få en överblick vid <a href="https://tree.taiga.io/project/okfsemattias-okfse-opendiversitydata/">Taiga.io</a>! Hör av dig via e-post om du vill ha en inbjudan för att hjälpa till!    
	</div> 

    <div class="ui divider"></div>

    <div class="footer ui basic segment">
        Skapad av medlemmar vid <a href="http://okfn.se">Open Knowledge Sverige</a> under ett unhackathon för säkrare migrationsvägar vid <a href="http://kaospilot.dk">Kaospilot</a> i Århus, Danmark - med hjälp från några häftiga
        <a href="https://github.com/okfse/oppnamangfaldsdata/graphs/contributors">medskapare</a>. Tack till <a href="http://opendiversitydata.org/">OpenDiversityData.org</a> och <a href="https://twofactorauth.org">TwoFactorAuth.org</a> (2FA) för inspiration och kod.
    </div>

    <!-- 3rd Party Libraries -->
    <script src="//code.jquery.com/jquery-2.1.0.js"></script>
    <script src="/lib/semantic/javascript/semantic.js"></script>

    <!-- TFA JS -->
    <script src="/js/app.js"></script>
</body>
</html>

